<form>
    <div class="form-group">
        <label for="operando_a">Operando A:</label>
        <input 
            type="number" 
            id="operando_a" 
            class="form-control" 
            placeholder="Esperando Operador 1"
            [(ngModel)]="operadorA"
            name="operadorA"
        >
    </div>

    <div class="form-group">
        <label for="operando_b">Operando B:</label>
        <input 
            type="number" 
            id="operando_b" 
            class="form-control" 
            placeholder="Esperando Operador 2"
            [(ngModel)]="operadorB"
            name="operadorB"
        >
    </div>

    <div class="col">
        <button type="submit" class="btn btn-primary" (click)="sumar()">Sumar</button>

        <button type="submit" class="btn btn-secondary" (click)="restar()">Restar</button>
    </div>

</form>
